* {
    box-sizing: border-box;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, #application, .container, .column {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    font-family: sans-serif;
}

.column {
    float: left;
    background: #eee;
    border-left: 1px solid white;
}
.column-first {
    width: 25%;
}
.column-second {
    width: 42%;
}
.column-third {
    width: 33%;
}

.row {
    border-bottom: 1px solid white;
}
.row-map {
    height: 50%;
}
.row-persons {
    height: 50%;
}
.row-cloud {
    height: 30%;
}
.row-wiki {
    height: 70%;
}

.timeline {
    height: 100%;
}
.timeline-scale {
    height: 100%;
    width: 25%;
    float: left;
    position: relative;
    cursor: pointer;
}
.timeline-titles {
    position: relative;
    height: 100%;
    width: 75%;
    float: left;
}
.timeline-titles-statics {
    height: 100%;
}
.event {
    position: absolute;
    /*transition: top .1s linear;*/
}
.event-once-line {
    width: 100%;
}
.event-title {
    font-size: 12px;
    box-sizing: content-box;
    position: absolute;
    height: 11px;
    padding-top: 9px;
    width: 100%;
    border: 0px solid black;
    padding-left: 15px;
    /*transition: top .1s linear;*/
}
.event-over-container {
    height: 100%;
}
.event-over {
    background-color: #ddd;
    z-index: 100;
}
.timeline-scale-zoom {
    width: 100%;
    height: 100%;
    position: relative;
}
.timeline-scale-zoom-selection {
    position: absolute;
    background-color: #000;
    opacity: .5;
    width: 100%;
}
